body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.color-bar {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.ishovered {
  position: absolute;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.2s ease;
}

button {
  background: white;
  border: none;
  border-radius: 12%;
  width: auto;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
  flex-direction: row;
  gap: 10px;
  padding: 10px 20px;
}

button:hover {
  transform: scale(1.1);
  background: #f0f0f0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-buttons {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  gap: 15px;
}


.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.side-panel {
  position: absolute;
  top: 60px;
  /* sits right below the navbar */
  right: 15px;
  width: 250px;
  height: calc(100vh - 90px);
  background: white;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 20;
  border-radius: 12px;
  animation: slideIn 0.3s ease;
  overflow-y: auto;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}